{% extends "base.html.twig" %}

{% block localstyle %}
    label {
        color: var(--colorftbodylight);
    }
{% endblock %}

{% block body %}
<div style="text-align:center">
    <img src="/{{ appAlias }}/uploads/logo/{{ app.session.get('logodark') }}" style="height:120px;margin-top:10px;">
    <h1 style="border:none">{{appName}}</h1>
    <form action="{{ path('app_login') }}" method="post">
        <div class="card homecard" style="width:400px; margin:auto">
            <div class="card-body">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <label for="username">Login</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"  class="form-control" style="margin-bottom:15px;" />

                <label for="password">Password</label>
                <input type="password" id="password" name="_password" class="form-control" style="margin-bottom:15px;" />

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <input type="submit" name="login" class="btn btn-success form-control" />
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block localjavascript %}
    $(document).ready(function() {
        $("#username").focus();
    });
{% endblock %}