{% extends "base.html.twig" %}

{% block body %}
<h1 class="page-header">
CONFIGURATIONS
</h1>


<div class="row mt-4">
    <div class="col-md-12">
        <h3>Générale</h3>
        {{ render(path("app_config_render",{category:"site"})) }}
    </div>

    <div class="col-md-6">
        <h3>Couleurs des fonds de page</h3>
        {{ render(path("app_config_render",{category:"colorbgbody"})) }}
    </div>

    <div class="col-md-6">
        <h3>Polices</h3>
        {{ render(path("app_config_render",{category:"font"})) }}    
    </div>

    <div class="col-md-6">
        <h3>Couleurs des titres </h3>
         {{ render(path("app_config_render",{category:"colorfttitle"})) }}
    </div>

    <div class="col-md-6">
        <h3>Couleurs de la police </h3>
        {{ render(path("app_config_render",{category:"colorftbody"})) }}
    </div>

    <div class="col-md-6">
        <h3>Logo</h3>
        {{ render(path("app_config_render",{category:"logo"})) }}

        <h3>Social</h3>
        {{ render(path("app_config_render",{category:"social"})) }}          
    </div>

    <div class="col-md-6">
        <h3>Carrousel</h3>
        {{ render(path("app_config_render",{category:"hero"})) }}   

        <h3>Image</h3>
        {{ render(path("app_config_render",{category:"image"})) }}            
    </div>
</div>






 

     
{% endblock %}

{% block localjavascript %}
    $(document).ready(function() {
        $('#dataTables').DataTable({
            columnDefs: [ { "targets": "no-sort", "orderable": false }, { "targets": "no-string", "type" : "num" } ],
            responsive: true,
            iDisplayLength: 100,
            order: [[ 1, "asc" ]]
        });
    });
{% endblock %}