<div id="sidebar" class="collapse">
    <ul class="nav">
        {% if is_granted('ROLE_ADMIN') %}
        <br>
        <li class="title">Administration</li>

        <li>
            <a href="{{path("app_illustration")}}">
            <i class="fas fa-image"></i>  Illustrations
            </a>
        </li>

        <li>
            <a href="{{path("app_category")}}">
            <i class="fa fa-folder"></i> Catégories Illustrations
            </a>
        </li>

        <li>
            <a href="{{path("app_webzine")}}">
            <i class="fas fa-book-open"></i> Webzine
            </a>
        </li>

        <li>
            <a href="{{path("app_link")}}">
            <i class="fas fa-link"></i> Liens
            </a>
        </li>

        <li>
            <a href="{{path("app_config")}}">
            <i class="fa fa-cog"></i> Configurations
            </a>
        </li>

        <li>
            <a href="{{path("app_user")}}">
            <i class="fa fa-user"></i> Utilisateurs
            </a>
        </li>

        <li>
            <a href="{{path("app_group")}}">
            <i class="fa fa-users"></i> Groupes
            </a>
        </li>

        {% if appCron %}
        <li>
            <a href="{{path("app_cron")}}">
            <i class="fa fa-cogs"></i> Jobs
            </a>
        </li>
        {% endif %}

        <li class="last">
            <a href="{{path("app_cron_log")}}">
            <i class="fa fa-list-alt"></i> Logs / Dump
            </a>
        </li>                        
        {% endif %}
    </ul>
</div>
