{% extends "base.html.twig" %}

{% block body %}
<h1 class="page-header">
CATEGORIES
</h1>

    <p><a class="btn btn-success" href={{ path('app_category_submit') }}>Ajouter</a></p>
    
    <div class="card">
        <div class="card-header">
            <i class="fa fa-table fa-fw"></i> Liste des Catégories
        </div>

        <div class="card-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables" style="width:100%">
                    <thead>
                    <tr>
                        <th width="70px" class="no-sort">Action</th>
                        <th width="70px">Ordre</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for category in categorys %}
                            <tr>
                                <td>
                                    <a href="{{path("app_category_update",{id:category.id})}}"><i class="fa fa-file"></i></a>
                                    {% if category.id >=0 %}
                                    <a href="{{path("app_category_delete",{id:category.id})}}" data-method="delete" data-confirm="Êtes-vous sûr de vouloir supprimer cet enregistrement ?"><i class="fa fa-trash"></i></a>
                                    {% endif %}
                                </td>
                                <td>{{category.order}}</td>
                                <td>{{category.name}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block localjavascript %}
    $(document).ready(function() {
        $('#dataTables').DataTable({
            columnDefs: [ { "targets": "no-sort", "orderable": false }, { "targets": "no-string", "type" : "num" } ],
            responsive: true,
            iDisplayLength: 100,
            order: [[ 1, "asc" ]]
        });
    });
{% endblock %}