{% extends "base.html.twig" %}

{% block metablock %}
    <meta property="og:title" content="{{ appName }} - Slide" />
    <meta property="og:url" content="{{ absolute_url(path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))) }}" />
{% endblock %}

{% block localstyle %}
    
        html, body {height: 100%}
        .monocolor {
            background-image: url("/{{ appAlias }}/styles/images/Wave-02.jpg");
            background-size:cover;
            background-position-x: right;
            overflow:hidden;
        }

        #main {
            padding: 0px; 
            display:none;
            margin-bottom:200px;
        }

        /* Image */
        #illustration_illustration_img, #kadavresky_kadavresky_img, #album_photo_img,#webzine_page_img{
            //margin: 30px auto 0px auto;
            display:block;
            /*box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.45);*/
        }
    </style>
    <div style="display:flex; height:100%;">
        <div id="imgsilde" style="width:70%; height:100%; display:flex; align-items: center; justify-content: center;">
            <img style="display:none;" id="illustration_illustration_img" src="/{{ appAlias }}/uploads/illustration/{{illustrations[0].illustration}}">
        </div>
        <div style="padding:30px; text-align: center; width:30%;">
            <div>
                <img src="/{{ appAlias }}/uploads/logo/{{ app.session.get("logodark") }}" class="logo" style="width:200px">
            </div>
            <div style="font-size:80px; font-family: var(--fonttitle)">{{ app.session.get("appname") }}</div>
            <div style="font-size:40px; font-family: var(--fonttitle); margin-top:-30px;">Illustrations</div>
            <div style="font-size:20px;">
                Exposition au Comptoir des Bières<br>
                du 01/12/2024 au 31/12/2024
            </div>
            <div style="padding-top:200px;">
                https://terium.org/arno<br>
                <img src="/{{ appAlias }}/styles/images/qr-code.png" style="width:300px;">
            </div>

        </div>
    </div>
{% endblock %}

{% block localjavascript %}
    var posImg=0
    var tbimg=[]

    function shuffle(array) {
        let currentIndex = array.length,  randomIndex;

        // While there remain elements to shuffle.
        while (currentIndex > 0) {

            // Pick a remaining element.
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;

            // And swap it with the current element.
            [array[currentIndex], array[randomIndex]] = [
            array[randomIndex], array[currentIndex]];
        }

        return array;
    }

    function resizeImage() {
        height=$(window).height()-30;
        $("#illustration_illustration_img").css({height:height,width:'auto'});

        width=$("#imgsilde").width()-100;
        if($("#illustration_illustration_img").width()>width)
            $("#illustration_illustration_img").css({width:width,height:'auto'});

        height=$("#illustration_illustration_img").height();
        $("#bigright").css({height:height,"line-height":height+"px"});
        $("#bigleft").css({height:height,"line-height":height+"px"});            
    }

    $(document).ready(function() {
        {% for illustration in illustrations %}
            tbimg.push("{{illustration.illustration}}");
        {% endfor %}

        tbimg=shuffle(tbimg)
        $('body').imagesLoaded(function() {
            resizeImage();
            $("#illustration_illustration_img").fadeIn();
        });

        var intervalId = window.setInterval(function(){
            posImg++;
            img=tbimg[posImg];
            console.log(img);
            url="/{{ appAlias }}/uploads/illustration/xxx";
            url=url.replace("xxx",img);

            $("#illustration_illustration_img").fadeOut();
            $("#illustration_illustration_img").promise().done(function(){
                $("#illustration_illustration_img").hide();
                $("#illustration_illustration_img").attr("src",url);
                /*
                resizeImage();
                $("#illustration_illustration_img").fadeIn();
                */
            });
        }, 10000);        
    });

    $('#illustration_illustration_img').on("load",function() {
        resizeImage();
        $("#illustration_illustration_img").fadeIn();
    });


    $(window).resize(function() {
        resizeImage();
    });
{% endblock %}
