{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    <h1 class="page-header">
    {% if mode=="update" %}
    Modification GROUPE
    {% elseif mode=="submit" %}
    Création GROUPE
    {% endif %}
    </h1>

    {{ form_widget(form.submit) }} 
    
    <a class="btn btn-secondary" href={{ path('app_group') }}>Annuler</a>

    {% if mode=="update" and group-id>=0 %}
    <a  href="{{ path('app_group_delete',{'id':group.id}) }}"
        class="btn btn-danger float-right"
        data-method="delete"
        data-confirm="Êtes-vous sûr de vouloir supprimer cet entregistrement ?">
          Supprimer
    </a>
    {% endif %}

    <br><br>

    {% if app.session.flashbag.has('error') %}
        <div class='alert alert-danger' style='margin: 5px 0px'>
            <strong>Erreur</strong><br>
            {% for flashMessage in app.session.flashbag.get('error') %}
                {{ flashMessage }}<br>
            {% endfor %}
        </div>
    {% endif %}

    {% if app.session.flashbag.has('notice') %}
        <div class='alert alert-info' style='margin: 5px 0px'>
            <strong>Information</strong><br>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                {{ flashMessage }}<br>
            {% endfor %}
        </div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            <i class="fa fa-pencil-alt fa-fw"></i> Informations
        </div>

        <div class="card-body">
            {{ form_row(form.name) }}
            {{ form_row(form.users) }}
        </div>
    </div>    
{{ form_end(form) }}

{% endblock %}

{% block localjavascript %}
    $(document).ready(function() {
        $("#group_name").focus();
    });
{% endblock %}
