<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
        <title>{% block title %}{{app.session.get("appname")}}{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block metablock %}
        {% endblock %}
        
        {{ encore_entry_link_tags('app') }}
        
        {% block encorelinktags %}
            
        {% endblock encorelinktags %}
        <link rel="shortcut icon" href="/{{ appAlias }}/uploads/logo/{{app.session.get("logolight")}}" />
    </head>

    <link href="/{{ appAlias }}/styles/css/font.css" rel="stylesheet" media="screen" />
    <link href="/{{ appAlias }}/styles/css/style.css" rel="stylesheet" media="screen" />

    <style>
        {{ include('Include/style.css.twig') }}

        {% block localstyle %}

        {% endblock %}
    </style>

    {% set class="" %}
    {% if usemonocolor is defined and usemonocolor %}
        {% set class="monocolor" %}
    {% endif %}

    <body class={{ class }}>

        {% if useheader is defined and useheader %}
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="{{ path('app_home')}}">
                    <img src="/{{ appAlias }}/uploads/logo/{{app.session.get("logodark")}}" style="height:30px;margin-top:-3px;">
                    {{app.session.get("appname")}}
                </a>

                {% if usesidebar is defined and usesidebar %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% endif %}

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    </ul>
                </div>

                <ul class="nav navbar-top-links navbar-right">
                   {% if app.user %}
                        <li>
                            <a href="{{path("app_user_profil")}}">
                                <img src="{{app.user.avatar|urlavatar}}" class="avatar">
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{path("app_illustration")}}"><i class="fa fa-cog fa-fw"></i></a>
                        </li>

                        <li>                        
                            <a href={{ path("app_illustration_submit",{'by':'console'}) }}  title="Créer une Illustration">
                                <i class="fa fa-paint-brush fa-fw"></i>
                            </a>
                        </li>                                            
                    {% endif %}
                    
                    <li>
                    {% if app.user %}
                        {% if appAuth=="MYSQL" %}
                        <a href="{{path("app_logout")}}"><i class="fa fa-sign-out-alt fa-fw"></i></a>
                        {% elseif appAuth=="CAS" %}
                        <a href="{{path("app_logoutcas")}}"><i class="fa fa-sign-out-alt fa-fw"></i></a>
                        {% endif %}
                    {% else %}
                        {% if appAuth=="MYSQL" %}
                        <a href="{{path("app_login")}}"><i class="fa fa-sign-in-alt fa-fw"></i></a>
                        {% elseif appAuth=="CAS" %}
                        <a href="{{path("app_logincas")}}"><i class="fa fa-sign-in-alt fa-fw"></i></a>
                        {% endif %}
                    {% endif %}
                    </li>
                </ul>                
            </nav>
        {% endif %}

        <main id="main" class="container-fluid">
            {% set contentsidebar="" %}
            {% if usesidebar is defined and usesidebar %}
                {% set contentsidebar="contentsidebar" %}
                {{ include('Include/sidebar.html.twig') }}
            {%endif%}


            <div id="mycontent" class="content {{contentsidebar}}">        
                {% block body %}
                {% endblock %}
            </div>
        </main>

        <div id="mymodal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <iframe id="framemodal" frameborder=0 width="100%" height="600px"></iframe>
                    </div>            
                </div>
            </div>
        </div>

        <div id="extraLargeModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <iframe id="frameModal" frameborder=0 width="100%" height="700px"></iframe>
                    </div>
                </div>
            </div>
        </div>

        {{ encore_entry_script_tags('app') }}

        {% block encorescripttags %}

        {% endblock %}

        {% block localexternalscript %}

        {% endblock %}

        <script>
            {{ include('Include/javascript.js.twig') }}
        </script>

        <script>
            $(".pick-a-color").spectrum(
                {
                    type: "text",
                    showAlpha: false
                }
            );

            {% block localjavascript %}
            {% endblock %}
        </script>
    </body>
</html>
