
{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    <h1 class="page-header">
    {% if mode=="update" %}
    Modification JOB
    {% endif %}
    </h1>

    {{ form_widget(form.submit) }} 
    
    <a class="btn btn-secondary" href={{ path('app_cron') }}>Annuler</a>
    
    <br><br>

    {% if app.session.flashbag.has('error') %}
        <div class='alert alert-danger' style='margin: 5px 0px'>
            <strong>Erreur</strong><br>
            {% for flashMessage in app.session.flashbag.get('error') %}
                {{ flashMessage }}<br>
            {% endfor %}
        </div>
    {% endif %}

    {% if app.session.flashbag.has('notice') %}
        <div class='alert alert-info' style='margin: 5px 0px'>
            <strong>Information</strong><br>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                {{ flashMessage }}<br>
            {% endfor %}
        </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <i class="fa fa-pencil-alt fa-fw"></i> Informations
        </div>

        <div class="card-body">
            {{ form_row(form.command) }}
            {{ form_row(form.jsonargument) }}
            {{ form_row(form.statut) }}
            {{ form_row(form.repeatcall) }}
            {{ form_row(form.repeatinterval) }}
            {{ form_row(form.nextexecdate) }}
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}

{% block localjavascript %}
    $(document).ready(function() {
        $("#command").focus();
    });
{% endblock %}



