{% extends "base.html.twig" %}

{% block body %}
<h1 class="page-header">
JOBS
</h1>

    <div class="card">
        <div class="card-header">
            <i class="fa fa-table fa-fw"></i> Liste des Jobs
        </div>

        <div class="card-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables" style="width:100%">
                    <thead>
                    <tr>
                        <th width="70px" class="no-sort">Action</th>
                        <th>Prochaine exécution</th>
                        <th>Command</th>
                        <th>Description</th>
                        <th>Statut</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for cron in crons %}
                            <tr>
                                <td>
                                    <a href="{{path("app_cron_update",{id:cron.id})}}"><i class="fa fa-file"></i></a>
                                </td>
                                <td>{{cron.nextexecdate|date("d/m/Y H:i")}}</td>
                                <td>{{cron.command}}</td>
                                <td>{{cron.description}}</td>
                                <td>{{cron.statutlabel}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block localjavascript %}
    $(document).ready(function() {
        $('#dataTables').DataTable({
            columnDefs: [ { "targets": "no-sort", "orderable": false }, { "targets": "no-string", "type" : "num" } ],
            responsive: true,
            iDisplayLength: 100,
            order: [[ 1, "asc" ]]
        });
    });
{% endblock %}

