{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">
    Télécharger les logs
    </h1>

    {% if appCron %}
    <a class="btn btn-secondary" href={{ path("app_cron_getlog",{"id":"cron"}) }}>Log CRON</a>
    {% endif %}
    <a class="btn btn-secondary" href={{ path("app_cron_getlog",{"id":"prod"}) }}>Log PROD</a>
    <a class="btn btn-secondary" href={{ path("app_cron_getlog",{"id":"dev"}) }}>Log DEV</a>
    {% if appCron %}
    <a class="btn btn-secondary" href={{ path("app_cron_getlog",{"id":"dump"}) }}>Dump de la Base</a>
    {% endif %}
{% endblock %}