{% extends "base.html.twig" %}

{% block body %}
<h1 class="page-header">
UTILISATEURS
</h1>

    <p><a class="btn btn-success" href={{ path('app_user_submit') }}>Ajouter</a></p>

    <div class="card">
        <div class="card-header">
            <i class="fa fa-table fa-fw"></i> Liste des Utilisateurs
        </div>

        <div class="card-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables" style="width:100%">
                    <thead>
                    <tr>
                        <th width="70px" class="no-sort">Action</th>
                        <th width="70px" class="no-sort">Avatar</th>
                        <th>Login</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Rôles</th>
                        <th>Groupes</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    <a href="{{path("app_user_update",{id:user.id})}}"><i class="fa fa-file"></i></a>
                                    {% if user.id >=0 %}
                                    <a href="{{path("app_user_delete",{id:user.id})}}" data-method="delete" data-confirm="Êtes-vous sûr de vouloir supprimer cet enregistrement ?"><i class="fa fa-trash"></i></a>
                                    {% endif %}                                    
                                </td>
                                <td><img id="user_avatar_img" src="{{ user.avatar|urlavatar }}" class="avatar" ></td>
                                <td>{{user.username}}</td>
                                <td>{{user.firstname}}</td>
                                <td>{{user.lastname}}</td>
                                <td>
                                    {%for role in user.roles %}
                                        {%if role=="ROLE_ADMIN" %}
                                        Administrateur<br>
                                        {%elseif role=="ROLE_MODO" %}
                                        Modérateur<br>
                                        {%elseif role=="ROLE_MASTER" %}
                                        Master<br>
                                        {%elseif role=="ROLE_USER" %}
                                        Utilisateur<br>
                                        {%endif%}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for group in user.groups %}
                                        {{ group.name }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block localjavascript %}
    $(document).ready(function() {
        $('#dataTables').DataTable({
            columnDefs: [ { "targets": "no-sort", "orderable": false }, { "targets": "no-string", "type" : "num" } ],
            responsive: true,
            iDisplayLength: 100,
            order: [[ 2, "asc" ]]
        });
    });
{% endblock %}